{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}
<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <v-row class="align-center">
        <v-col cols="12" xs="12" sm="12" md="4" xl="3">
          <div class="py-4 text-body-1 font-weight-bold">修改密码
            <!-- 帮助页按钮 -->
            <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
              <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
            </span>
          </div>
        </v-col>
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面主要内容 -->
      <v-card class="rounded-lg jh-fixed-table-height">
        <v-form ref="passwordForm" lazy-validation class="mx-auto jh-passwordForm">
          <v-row class="pa-0 ma-0 pa-xs-4 pb-xs-4 flex-none">
            <v-col cols="12" class="pb-xs-4 pb-3">
              <span class="jh-input-label">原密码<span class="red--text text--accent-2 ml-1">*必填</span></span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="formData.oldPassword" :rules="validationRules.requireRules"></v-text-field>
            </v-col>
            <v-col cols="12" class="pb-xs-4 pb-3">
              <span class="jh-input-label">新密码<span class="red--text text--accent-2 ml-1">*必填</span></span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="formData.newPassword1" :rules="validationRules.requireRules"></v-text-field>
            </v-col>
            <v-col cols="12" class="pb-xs-4 pb-3">
              <span class="jh-input-label">新密码确认<span class="red--text text--accent-2 ml-1">*必填</span></span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="formData.newPassword2" :rules="validationRules.requireRules"></v-text-field>
            </v-col>
            <v-col cols="12" class="pb-xs-4 pb-3">
              <v-btn color="success" @click="resetPassword()" style="width: 100%;">确定</v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card>
    </div>
    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#7.resetUserPassword.md`" width="100%" height="100%"></iframe>
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<< 帮助页抽屉  -->
  </v-main>
</v-app>
<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>

<div id="app">
</div>
{% endblock %}

{% block vueScript %}

{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vueComponent: 'page',
  vuetify: new Vuetify(),
  data: () => ({
    isHelpPageDrawerShown: false,
    // 页面变量

    validationRules: {
      requireRules: [
        v => !!v || 'This is required',
      ]
    },
    formData: {
      oldPassword: null,
      newPassword1: null,
      newPassword2: null,
    }
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
  },
  watch: {},
  async created() {
  },
  mounted() {
  },
  methods: {
    async resetPassword() {
      if (!this.$refs.passwordForm.validate()) return false;
      if (this.formData.newPassword1 !== this.formData.newPassword2) {
        window.vtoast.fail("两次输入的密码不一致");
        return;
      }
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'resetUserPassword',
            actionId: 'resetPassword',
            actionData: {
              oldPassword: this.formData.oldPassword,
              newPassword: this.formData.newPassword1,
            }
          }
        }
      })
      window.vtoast.success("密码修改成功");
      setTimeout(() => {
        location.reload();
      }, 500)
    }
  }
})
</script>
<style>
  .jh-passwordForm{
    width: 390px; 
    max-width: 100%;
    margin-top: 100px;
  }
</style>
{% endblock %}
