<!DOCTYPE html>
<html>

<head>
  <!-- 设置页面默认参数 >>>>>>>>>>>>> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>
    <$ ctx.app.config.appTitle $>
  </title>
  <meta charset="utf-8" name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <!-- <<<<<<<<<<<<< 设置页面默认参数 -->

  <!-- 加载第三方库CSS >>>>>>>>>>>>> -->
  <link href="/<$ ctx.app.config.appId $>/public/lib/vuetify/materialdesignicons.min.css" rel="stylesheet">
  <link href="/<$ ctx.app.config.appId $>/public/lib/vuetify/vuetify.min.css" rel="stylesheet">
  <!-- <<<<<<<<<<<<< 加载第三方库CSS -->

  <!-- 加载第三方库JS >>>>>>>>>>>>> -->
  <script src="/<$ ctx.app.config.appId $>/public/lib/lodash/lodash.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/lib/dayjs/dayjs.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/lib/axios/axios.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/lib/vue/vue.min.js"></script>
  <script src="/<$ ctx.app.config.appId $>/public/lib/vuetify/vuetify.min.js"></script>
  <!-- <<<<<<<<<<<<< 加载第三方库JS -->

  <!-- 加载定制样式 >>>>>>>>>>>>> -->
  {% include 'common/jianghuJs/globalCSSFontV4.html' %}
  {% include 'common/jianghuJs/globalCSSVuetifyV4.html' %}
  {% include 'common/jianghuJs/globalCSSJHV4.html' %}
  {% include 'common/jianghuJs/globalCSSMediaV4.html' %}
  <!-- <<<<<<<<<<<<< 加载定制样式 -->

</head>

<body>
  <!-- vue template >>>>>>>>>>>>> -->
  <script type="text/html" id="app-template">
    <div>
      <v-app mobile-breakpoint="sm">
        <!-- 菜单栏 >>>>>>>>>>>>> -->
        <v-app-bar app clipped-left height="52" class="jh-page-header px-8" style="z-index: 50;" flat>
          <!-- 页面标题 -->
          <v-toolbar-title ref="toolbarTitle" class="mr-5 pl-0">
            <span class="text-h7 font-weight-bold">江湖演示-初级</span>
          </v-toolbar-title>
          <!-- 菜单 -->
          <v-tabs
            v-model="menuSelectedIndex"
            show-arrows
            slider-size="0"
            color="success"
            style="max-width: calc(100vw - 120px)">
            <template v-for="item in inMenuList">
              <v-tab
                class="px-2 mr-2 jh-header-tab"
                active-class="jh-header-tab-active"
                :key="item.path"
                @click="openUrl({ path: item.path })">
                {{ item.title }}
              </v-tab>
          </v-tab>
            </template>
          </v-tabs>
          <v-spacer />
        </v-app-bar>
        <!-- <<<<<<<<<<<<< 菜单栏 -->

        <v-main>
          <!-- 头部内容 >>>>>>>>>>>>> -->
          <div class="jh-page-second-bar px-8">
            <v-row class="align-center">
              <v-col cols="12" xs="12" sm="12" md="4" xl="3">
                <div class="py-4 text-body-1 font-weight-bold d-flex align-center">前端对接
                  <!-- 帮助页按钮 -->
                  <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
                    <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
                  </span>
                </div>
              </v-col>
            </v-row>
          </div>
          <!-- <<<<<<<<<<<<< 头部内容 -->

          <div class="jh-page-body-container px-8">
            <!-- 页面内容 >>>>>>>>>>>>> -->
            <v-card class="rounded-lg">
              <v-row class="ma-0 pa-3">
                <!-- 新增按钮 -->
                <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增</v-btn>
                <v-spacer></v-spacer>
                <!-- 搜索过滤 -->
                <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
                  <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
                </v-col>
              </v-row>
              <!-- 表格 -->
              <v-data-table
                :headers="headers"
                :items="tableData"
                :search="searchInput"
                :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
                :items-per-page="-1"
                mobile-breakpoint="0"
                :loading="isTableLoading"
                :class="{'zebraLine': isTableZebraLineShown }"
                checkbox-color="success"
                fixed-header
                class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
                <!-- 表格行操作按钮 -->
                <template v-slot:item.action="{ item }">
                  <template>
                    <!-- pc端 -->
                    <template v-if="!isMobile">
                      <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startUpdateItem', item)">
                        <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>修改
                      </span>
                      <span role="button" class="red--text text--accent-2 font-weight-medium font-size-2" @click="doUiAction('deleteItem', item)">
                        <v-icon size="16" class="red--text text--accent-2">mdi-trash-can-outline</v-icon>删除
                      </span>
                    </template>
                    <!-- 手机端 -->
                    <v-menu offset-y v-if="isMobile">
                      <template v-slot:activator="{ on, attrs }">
                        <span role="button" class="success--text font-weight-medium font-size-2"
                          v-bind="attrs" v-on="on">
                          操作<v-icon size="14" class="success--text">mdi-chevron-down</v-icon>
                        </span>
                      </template>
                      <v-list dense>
                        <v-list-item @click="doUiAction('startUpdateItem', item)">
                          <v-list-item-title>修改</v-list-item-title>
                        </v-list-item>
                        <v-list-item @click="doUiAction('deleteItem', item)">
                          <v-list-item-title>删除</v-list-item-title>
                        </v-list-item>
                      </v-list>
                    </v-menu>
                  </template>
                </template>
                <!-- 性别 -->
                <template v-slot:item.gender="{ item }">
                  {{ getDisplayText({displayObj: constantObj.gender, displayValue: item.gender}) }}
                </template>
                <!-- 年级 -->
                <template v-slot:item.level="{ item }">
                  {{ getDisplayText({displayObj: constantObj.level, displayValue: item.level}) }}
                </template>
                <!-- 没有数据 -->
                <template v-slot:loading>
                  <div class="jh-no-data">数据加载中</div>
                </template>
                <template v-slot:no-data>
                  <div class="jh-no-data">暂无数据</div>
                </template>
                <template v-slot:no-results>
                  <div class="jh-no-data">暂无数据</div>
                </template>
                <!-- 表格分页 -->
                <template v-slot:footer.page-text="pagination">
                  <span>{{ pagination.pageStart }}-{{ pagination.pageStop }}</span>
                  <span class="ml-1">共{{ pagination.itemsLength }}条</span>
                </template>
              </v-data-table>
            </v-card>
            <!-- <<<<<<<<<<<<< 页面内容 -->

            <!-- 新增抽屉 -->
            <v-navigation-drawer v-model="isCreateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
              <v-form ref="createForm" lazy-validation>
                <!-- 抽屉标题 -->
                <v-row no-gutters>
                  <span class="text-h7 font-weight-bold pa-4">添加信息</span>
                </v-row>
                <v-divider class="jh-divider"></v-divider>
                <!-- 抽屉表单主体 -->
                <v-row class="mt-0 px-4">
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">学生ID<span class="red--text text--accent-2 ml-1">*必填</span></span>
                    <v-text-field class="jh-v-input" dense single-line filled label="学生ID" v-model="createItem.studentId" :rules="validationRules.requireRules"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">班级ID</span>
                    <v-select class="jh-v-input" dense single-line filled clearable label="班级ID" v-model="createItem.classId" :items="constantObj.classId"></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">学生名字</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="学生名字" v-model="createItem.name"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">年级</span>
                    <v-select class="jh-v-input" dense single-line filled clearable label="年级" v-model="createItem.level" :items="constantObj.level"></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">性别</span>
                    <v-select class="jh-v-input" dense single-line filled clearable label="性别" v-model="createItem.gender" :items="constantObj.gender"></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">出生日期</span>
                    <v-menu class="jh-v-input" transition="scale-transition" offset-y min-width="auto">
                      <template v-slot:activator="{on, attrs}">
                        <v-text-field v-bind="attrs" v-on="on" v-model="createItem.dateOfBirth" class="jh-v-input" dense single-line filled readonly label="出生日期"></v-text-field>
                      </template>
                      <v-date-picker color="success" elevation="20" v-model="createItem.dateOfBirth"></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">身高</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="身高" v-model="createItem.bodyHeight"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">学生状态</span>
                    <v-select class="jh-v-input" dense single-line filled clearable label="学生状态" v-model="createItem.studentStatus" :items="constantObj.studentStatus"></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">备注</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="备注" v-model="createItem.remarks"></v-text-field>
                  </v-col>
                </v-row>
                <!-- 抽屉操作按钮 -->
                <v-row class="justify-end mx-0 my-8 px-4">
                  <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
                  <v-btn class="ml-2" @click="isCreateDrawerShown = false" small>取消</v-btn>
                </v-row>
              </v-form>
              <!-- 抽屉关闭按钮 -->
              <v-btn
                elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
                @click="isCreateDrawerShown = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-navigation-drawer>

            <!-- 编辑抽屉 -->
            <v-navigation-drawer v-model="isUpdateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
              <v-form ref="updateForm" lazy-validation>
                <!-- 抽屉标题 -->
                <v-row no-gutters>
                  <span class="text-h7 font-weight-bold pa-4">修改信息</span>
                </v-row>
                <v-divider class="jh-divider"></v-divider>
                <!-- 抽屉表单 -->
                <v-row class="mt-0 px-4">
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">学生ID<span class="red--text text--accent-2 ml-1">*必填</span></span>
                    <v-text-field class="jh-v-input" disabled dense single-line filled label="学生ID" v-model="updateItem.studentId" :rules="validationRules.requireRules"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">班级ID</span>
                    <v-select class="jh-v-input" dense single-line filled clearable label="班级ID" v-model="updateItem.classId" :items="constantObj.classId"></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">学生名字</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="学生名字" v-model="updateItem.name"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">年级</span>
                    <v-select class="jh-v-input" dense single-line filled clearable label="年级" v-model="updateItem.level" :items="constantObj.level"></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">性别</span>
                    <v-select class="jh-v-input" dense single-line filled clearable label="性别" v-model="updateItem.gender" :items="constantObj.gender"></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">出生日期</span>
                    <v-menu class="jh-v-input" transition="scale-transition" offset-y min-width="auto">
                      <template v-slot:activator="{on, attrs}">
                        <v-text-field v-bind="attrs" v-on="on" v-model="updateItem.dateOfBirth" class="jh-v-input" dense single-line filled readonly label="出生日期"></v-text-field>
                      </template>
                      <v-date-picker color="success" elevation="20" v-model="updateItem.dateOfBirth"></v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">身高</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="身高" v-model="updateItem.bodyHeight"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">学生状态</span>
                    <v-select class="jh-v-input" dense single-line filled clearable label="学生状态" v-model="updateItem.studentStatus" :items="constantObj.studentStatus"></v-select>
                  </v-col>
                  <v-col cols="12" sm="12" md="4">
                    <span class="jh-input-label">备注</span>
                    <v-text-field class="jh-v-input" dense single-line filled label="备注" v-model="updateItem.remarks"></v-text-field>
                  </v-col>
                </v-row>
                <!-- 抽屉操作按钮 -->
                <v-row class="justify-end mx-0 my-8 px-4">
                  <v-btn color="success" small @click="doUiAction('updateItem')">保存</v-btn>
                  <v-btn class="ml-2" small @click="isUpdateDrawerShown = false">取消
                  </v-btn>
                </v-row>
              </v-form>

              <!-- 抽屉关闭按钮 -->
              <v-btn
                elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
                @click="isUpdateDrawerShown = false">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-navigation-drawer>
          </div>

          <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
          <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
            <iframe
              style="border: 0" :src="`/${appInfo.appId}/pageDoc#2.frontendDemo.md`" width="100%"
              height="100%"></iframe>

            <v-btn
              elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
              @click="isHelpPageDrawerShown = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-navigation-drawer>
          <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

        </v-main>
      </v-app>

      <jh-toast />
      <jh-mask />
      <jh-confirm-dialog />

      </div>
  </script>

  <div id="app">
  </div>
  <!-- <<<<<<<<<<<<< vue template -->

  <!-- 加载工具脚本 >>>>>>>>>>>>> -->
  {% include 'utility/jianghuJs/prepareAppInfoV4.html' %}
  {% include 'utility/jianghuJs/prepareUserInfoV4.html' %}
  {% include 'utility/jianghuJs/jianghuAxiosV4.html' %}
  {% include 'utility/jianghuJs/htmlErrorCollectionV4.html' %}
  {% include 'utility/jianghuJs/jianghuDisplayTextV4.html' %}
  {% include 'utility/jianghuJs/uiActionV4.html' %}
  {% include 'common/jianghuJs/bugfixTableWheelEvent.html' %}
  {% include 'common/jianghuJs/bugfixDrawerOutsideClick.html' %}
  {% include 'common/jianghuJs/fixedTableColV4.html' %}
  <!-- <<<<<<<<<<<<< 加载工具脚本 -->

  <!-- 加载全局组件 >>>>>>>>>>>>> -->
  {% include 'component/jianghuJs/jhToastV4.html' %}
  {% include 'component/jianghuJs/jhMaskV4.html' %}
  {% include 'component/jianghuJs/jhMenuV4.html' %}
  {% include 'component/jianghuJs/jhConfirmDialogV4.html' %}
  <!-- <<<<<<<<<<<<< 加载全局组件 -->

  <!-- 加载页面组件 >>>>>>>>>>>>> -->
  {% include 'common/jianghuJs/fixedTableHeightV4.html' %}
  <!-- <<<<<<<<<<<<< 加载页面组件 -->

  <!-- vue script >>>>>>>>>>>>> -->
  <script type="module">
    new Vue({
      el: '#app',
      template: '#app-template',
      vueComponent: 'page',
      vuetify: new Vuetify(),
      data: {
        // 菜单相关数据
        menuSelectedIndex: 1,
        inMenuList: [
          {
            "path": `/<$ ctx.app.config.appId $>/`,
            "title": "返回",
          },
          {
            "path": `/<$ ctx.app.config.appId $>/page/frontendDemo`,
            "title": "前端对接",
          }
        ],

        isHelpPageDrawerShown: false,
        isMobile: window.innerWidth < 500,

        // 下拉选项
        constantObj: {
          gender: [{"value": "male", "text": "男"}, {"value": "female", "text": "女"}],
          classId: [
            {"value": "2021-01级-01班", "text": "2021-01级-01班"}, {"value": "2021-01级-02班", "text": "2021-01级-02班"},
            {"value": "2021-02级-01班", "text": "2021-02级-01班"}, {"value": "2021-02级-02班", "text": "2021-02级-02班"},
            {"value": "2021-03级-01班", "text": "2021-03级-01班"}, {"value": "2021-03级-02班", "text": "2021-03级-02班"}
          ],
          level: [{"value": "01", "text": "一年级"}, {"value": "02", "text": "二年级"}, {"value": "03", "text": "三年级"}],
          studentStatus: [{"value": "正常", "text": "正常"}, {"value": "退学", "text": "退学"}]
        },

        // 表格相关数据
        isTableZebraLineShown: true,
        validationRules: {
          requireRules: [
            v => !!v || 'This is required',
          ],
        },
        searchInput: null,
        isTableLoading: true,
        tableData: [],
        headers: [
          {text: "学生ID", value: "studentId", width: 120},
          {text: "班级ID", value: "classId", width: 140},
          {text: "学生名字", value: "name", width: 120},
          {text: "年级", value: "level", width: 120},
          {text: "性别", value: "gender", width: 120},
          {text: "出生日期", value: "dateOfBirth", width: 120},
          {text: "身高", value: "bodyHeight", width: 120},
          {text: "学生状态", value: "studentStatus", width: 120},
          {text: "备注", value: "remarks", width: 120},
          {text: "操作者", value: "operationByUser", width: 120},
          {text: "操作时间", value: "operationAt", width: 250},
          {text: '操作', value: 'action', align: 'center', sortable: false, width: window.innerWidth < 500 ? 80 : 120, class: 'fixed', cellClass: 'fixed'},
        ],

        // 操作相关
        isCreateDrawerShown: false,
        createItem: {},
        createActionData: {},
        isUpdateDrawerShown: false,
        updateItem: {},
        updateItemId: null,
        updateActionData: {},
        deleteItem: {},
        deleteItemId: null
      },
      watch: {},
      mounted() {
        this.doUiAction('getTableData');
      },
      methods: {
        async doUiAction(uiActionId, uiActionData) {
          switch (uiActionId) {
            case 'getTableData':
              await this.getTableData();
              break;
            case 'startCreateItem':
              await this.prepareCreateFormData();
              await this.openCreateDrawer();
              break;
            case 'createItem':
              await this.prepareCreateValidate();
              await this.confirmCreateItemDialog();
              await this.prepareDoCreateItem();
              await this.doCreateItem();
              await this.closeCreateDrawer();
              await this.getTableData();
              break;
            case 'startUpdateItem':
              await this.prepareUpdateFormData(uiActionData);
              await this.openUpdateDrawer();
              break;
            case 'updateItem':
              await this.prepareUpdateValidate();
              await this.confirmUpdateItemDialog();
              await this.prepareDoUpdateItem();
              await this.doUpdateItem();
              await this.closeUpdateDrawer();
              await this.getTableData();
              break;
            case 'deleteItem':
              await this.prepareDeleteFormData(uiActionData);
              await this.confirmDeleteItemDialog();
              await this.prepareDoDeleteItem();
              await this.doDeleteItem();
              await this.clearDeleteItem();
              await this.getTableData();
              break;
            case 'openUrl':
              await this.openUrl();
              break;
            default:
              console.error("[doUiAction] uiActionId not find", {uiActionId});
              break;
          }
        },

        // ---------- 获取数据 uiAction >>>>>>>>>> --------
        async getTableData() {
          this.isTableLoading = true;
          const result = await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'frontendDemo',
                actionId: 'selectItemList',
                actionData: {},
                where: {},
                orderBy: [{column: 'operationAt', order: 'desc'}]
              }
            }
          });

          this.tableData = result.data.appData.resultData.rows;
          this.isTableLoading = false;
        },
        // ---------- <<<<<<<<<<< 获取数据 uiAction ---------

        // ---------- 新增数据 uiAction >>>>>>>>>> --------
        async prepareCreateFormData() {
          this.createItem = {};
        },

        async openCreateDrawer() {
          this.isCreateDrawerShown = true;
        },
        async prepareCreateValidate() {
          if (await this.$refs.createForm.validate()) {
            return true;
          }
          throw new Error("请完善表单信息")
        },

        async confirmCreateItemDialog() {
          if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
            throw new Error("[confirmCreateFormDialog] 否");
          }
        },

        prepareDoCreateItem() {
          const {id, ...data} = this.createItem;
          this.createActionData = data;
        },

        async doCreateItem() {
          await window.jhMask.show();
          await window.vtoast.loading("新增学生");
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'frontendDemo',
                actionId: 'insertItem',
                actionData: this.createActionData
              }
            }
          })
          await window.jhMask.hide();
          await window.vtoast.success("新增学生成功");
        },
        async closeCreateDrawer() {
          this.isCreateDrawerShown = false;
          this.createItem = {};
          this.createActionData = null;
        },
        // ---------- <<<<<<<<<<< 新增数据 uiAction ---------

        // ---------- 修改数据 uiAction >>>>>>>>>>>> --------
        async prepareUpdateFormData(funObj) {
          this.updateItem = _.cloneDeep(funObj);
        },

        async openUpdateDrawer() {
          this.isUpdateDrawerShown = true;
        },

        async prepareUpdateValidate() {
          if (await this.$refs.updateForm.validate()) {
            return true;
          }
          throw new Error("请完善表单信息")
        },

        async confirmUpdateItemDialog() {
          if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
            throw new Error("[confirmUpdateItemDialog] 否");
          }
        },

        async prepareDoUpdateItem() {
          const {id, ...data} = this.updateItem;
          this.updateItemId = id;
          this.updateActionData = data;
        },

        async doUpdateItem() {
          await window.jhMask.show();
          await window.vtoast.loading("修改学生");
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'frontendDemo',
                actionId: 'updateItem',
                actionData: this.updateActionData,
                where: {id: this.updateItemId}
              }
            }
          })

          await window.jhMask.hide();
          await window.vtoast.success("修改学生成功");
        },

        async closeUpdateDrawer() {
          this.isUpdateDrawerShown = false;
          this.updateItem = {};
          this.updateActionData = null;
          this.updateItemId = null;
        },
        // ---------- <<<<<<<<<<< 修改数据 uiAction ---------

        // ---------- 删除数据 uiAction >>>>>>>>>>>> --------
        async prepareDeleteFormData(funObj) {
          this.deleteItem = _.cloneDeep(funObj);
        },
        async confirmDeleteItemDialog() {
          if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
            throw new Error("[confirmDeleteItemDialog] 否");
          }
        },
        async prepareDoDeleteItem() {
          const {id} = this.deleteItem;
          this.deleteItemId = id;
        },
        async doDeleteItem() {
          await window.vtoast.loading("删除学生");
          await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'frontendDemo',
                actionId: 'deleteItem',
                actionData: {},
                where: {id: this.deleteItemId}
              }
            }
          });
          await window.vtoast.success("删除学生成功");
        },
        async clearDeleteItem() {
          this.deleteItem = {};
          this.deleteItemId = null;
        },
        // ---------- <<<<<<<<<<< 删除数据 uiAction ---------

        // ---------- 菜单跳转 uiAction >>>>>>>>>>>> -------
        openUrl({path}) {
          window.location.href = path;
        }
        // ---------- <<<<<<<<<<< 菜单跳转 uiAction ---------
      }
    })
  </script>

  <style scoped>
  </style>
  <!-- <<<<<<<<<<<<< vue script -->
</body>
