{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
  <div>
    <v-app id="inspire" mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="mt-15">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
          <v-row class="align-center">
            <v-col cols="12" xs="12" sm="12" md="4" xl="3">
              <div class="py-4 text-body-1 font-weight-bold">文件上传
                <!-- 帮助页按钮 -->
                <span role="button" class="success--text font-weight-regular jh-font-size-13 ml-2" @click="isHelpPageDrawerShown = true">
                  <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
                </span>
              </div>
            </v-col>
          </v-row>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <div class="jh-page-body-container px-8">
          <!-- 页面内容 >>>>>>>>>>>>> -->
          <v-card class="rounded-lg">
            <v-row class="ma-0 pa-4">
              <!-- 新增按钮 -->
              <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增</v-btn>
              <v-spacer></v-spacer>
              <!-- 搜索过滤 -->
              <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
                <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
              </v-col>
            </v-row>
            <!-- 表格 -->
            <v-data-table
              :headers="headers"
              :items="tableData"
              :search="searchInput"
              :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
              :items-per-page="-1"
              mobile-breakpoint="0"
              :loading="isTableLoading"
              :class="{'zebraLine': isTableZebraLineShown }"
              checkbox-color="success"
              fixed-header
              class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
              <!-- 表格行操作按钮 -->
              <template v-slot:item.action="{ item }">
                <template>
                  <!-- pc端 -->
                  <template v-if="!isMobile">
                    <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startUpdateItem', item)">
                      <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>修改
                    </span>
                    <span role="button" class="red--text text--accent-2 font-weight-medium font-size-2" @click="doUiAction('deleteItem', item)">
                      <v-icon size="16" class="red--text text--accent-2">mdi-trash-can-outline</v-icon>删除
                    </span>
                  </template>
                  <!-- 手机端 -->
                  <v-menu offset-y v-if="isMobile">
                    <template v-slot:activator="{ on, attrs }">
                      <span role="button" class="success--text font-weight-medium font-size-2"
                        v-bind="attrs" v-on="on">
                        操作<v-icon size="14" class="success--text">mdi-chevron-down</v-icon>
                      </span>
                    </template>
                    <v-list dense>
                      <v-list-item @click="doUiAction('startUpdateItem', item)">
                        <v-list-item-title>修改</v-list-item-title>
                      </v-list-item>
                      <v-list-item @click="doUiAction('deleteItem', item)">
                        <v-list-item-title>删除</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
              </template>
              <!-- 文件路径 -->
              <template v-slot:item.filePath="{ item }">
                {{ item.filePath }}
                <span v-if="item.filePath" role="button" class="success--text font-weight-medium font-size-2 ml-2" @click="doUiAction('previewFile', { item })">
                  <v-icon size="16" class="success--text">mdi-eye-outline</v-icon>预览
                </span>
                <span v-if="item.filePath" role="button" class="success--text font-weight-medium font-size-2 ml-2" @click="doUiAction('downloadFile', { item })">
                  <v-icon size="16" class="success--text">mdi-file-download-outline</v-icon>下载
                </span>
              </template>
              <!-- 没有数据 -->
              <template v-slot:loading>
                <div class="jh-no-data">数据加载中</div>
              </template>
              <template v-slot:no-data>
                <div class="jh-no-data">暂无数据</div>
              </template>
              <template v-slot:no-results>
                <div class="jh-no-data">暂无数据</div>
              </template>
              <!-- 表格分页 -->
              <template v-slot:footer.page-text="pagination">
                <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                <span class="ml-1">共{{pagination.itemsLength}}条</span>
              </template>
            </v-data-table>
          </v-card>
          <!-- <<<<<<<<<<<<< 页面内容 -->

          <!-- 新增抽屉 -->
          <v-navigation-drawer v-model="isCreateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
            <v-form ref="createForm" lazy-validation>
              <!-- 抽屉标题 -->
              <v-row no-gutters>
                <span class="text-h7 font-weight-bold pa-4">添加信息</span>
              </v-row>
              <v-divider class="jh-divider"></v-divider>
              <!-- 抽屉表单主体 -->
              <v-row class="mt-0 px-4">

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">学生ID</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="createItem['studentId']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">文件</span>
                  <v-file-input v-model="createItem.file" class="jh-v-input" dense filled single-line chips label="请选择文件" ></v-file-input>
                </v-col>

              </v-row>
              <!-- 抽屉操作按钮 -->
              <v-row class="justify-end mx-0 my-8 px-4">
                <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
                <v-btn class="ml-2" @click="isCreateDrawerShown = false" small>取消</v-btn>
              </v-row>
            </v-form>
            <!-- 抽屉关闭按钮 -->
            <v-btn
              elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
              @click="isCreateDrawerShown = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-navigation-drawer>

          <!-- 编辑抽屉 -->
          <v-navigation-drawer v-model="isUpdateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
            <v-form ref="updateForm" lazy-validation>
              <!-- 抽屉标题 -->
              <v-row no-gutters>
                <span class="text-h7 font-weight-bold pa-4">修改信息</span>
              </v-row>
              <v-divider class="jh-divider"></v-divider>
              <!-- 抽屉表单 -->
              <v-row class="mt-0 px-4">

                <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
                  <span class="inputLabel">学生ID</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['studentId']"></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
                  <span class="inputLabel">文件路径</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['filePath']"></v-text-field>
                </v-col>
              </v-row>
              <!-- 抽屉操作按钮 -->
              <v-row class="justify-end mx-0 my-8 px-4">
                <v-btn color="success" small @click="doUiAction('updateItem')">保存</v-btn>
                <v-btn class="ml-2" small @click="isUpdateDrawerShown = false">取消
                </v-btn>
              </v-row>
            </v-form>

            <!-- 抽屉关闭按钮 -->
            <v-btn
              elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
              @click="isUpdateDrawerShown = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-navigation-drawer>

          <!-- <<<<<<<<<<<<< 页面内容 -->
        </div>

        <!-- 文件预览 -->
        <v-overlay :value="isPreviewOverlayShown" @click="isPreviewOverlayShown = false" :opacity="0.85" style="z-index: 99;">
          <v-icon style="position: fixed; right: 10px; top: 5px; z-index: 50000" large color="white"
            @click="isPreviewOverlayShown = false">
            mdi-close-circle
          </v-icon>
          <v-icon style="position: fixed; right: 50px; top: 5px; z-index: 50000" large color="white"
            @click="doUiAction('downloadPreviewFile')">
            mdi-download
          </v-icon>
          <iframe v-if="previewFileType === 'pdf'" :src="previewFileUrl" frameborder="0"
            style="width: 100vw; height: 100vh; padding: 50px 0 0 0;"></iframe>
          <v-img v-if="previewFileType === 'img'" max-height="80vw" max-width="100vw"  :src="previewFileUrl"></v-img>
        </v-overlay>

        <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
        <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
          <iframe
            style="border: 0" :src="`/${appInfo.appId}/pageDoc#studentFileManagement.md`" width="100%"
            height="100%"></iframe>

          <v-btn
            elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
            @click="isHelpPageDrawerShown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

      </v-main>
    </v-app>

    <jh-toast />
    <jh-mask />
    <jh-confirm-dialog />
  </div>
</script>

<div id="app">
</div>


{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      isHelpPageDrawerShown: false,
      isMobile: window.innerWidth < 500,
      // 表格相关数据
      isTableZebraLineShown: true,
      validationRules: {
        requireRules: [
          v => !!v || 'This is required',
        ],
      },
      // 下拉选项
      constantObj: {},
      searchInput: null,
      isTableLoading: true,
      tableData: [],
      headers: [
        {text: "ID", value: "id", width: 120, required: true, class: 'fixed', cellClass: 'fixed'},

        {text: "学生ID", value: "studentId", width: 120},
        {text: "文件路径", value: "filePath", width: 120},
        {text: "操作人", value: "operationByUser", width: 90},
        {text: "操作时间", value: "operationAt", width: 150},
        {text: '操作', value: 'action', align: 'center', sortable: false, width: window.innerWidth < 500 ? 60 : 120, class: 'fixed', cellClass: 'fixed'},
      ],
      tableSelected: [],

      isCreateDrawerShown: false,
      createItem: {},
      createActionData: {},
      isUpdateDrawerShown: false,
      updateItem: {},
      updateItemId: null,
      updateActionData: {},
      uploadFileResultData: null,
      deleteItem: {},
      deleteItemId: null,
      isPreviewOverlayShown: false,
      previewFileUrl: null,
      previewFilename: '',
      previewFileType: '',
    }),
    watch: {},
    mounted() {
      this.doUiAction('getTableData');
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'getTableData':
            await this.getTableData();
            break;
          case 'startCreateItem':
            await this.prepareCreateFormData();
            await this.openCreateDrawer();
            break;
          case 'createItem':
            await this.prepareCreateValidate();
            await this.confirmCreateItemDialog();
            await this.doUploadCreateItemFile();
            await this.prepareDoCreateItem();
            await this.doCreateItem();
            await this.closeCreateDrawer();
            await this.getTableData();
            break;
          case 'startUpdateItem':
            await this.prepareUpdateFormData(uiActionData);
            await this.openUpdateDrawer();
            break;
          case 'updateItem':
            await this.prepareUpdateValidate();
            await this.confirmUpdateItemDialog();
            await this.prepareDoUpdateItem();
            await this.doUpdateItem();
            await this.closeUpdateDrawer();
            await this.getTableData();
            break;
          case 'deleteItem':
            await this.prepareDeleteFormData(uiActionData);
            await this.confirmDeleteItemDialog();
            await this.prepareDoDeleteItem();
            await this.doDeleteItem();
            await this.clearDeleteItem();
            await this.getTableData();
            break;
          case 'previewFile':
            await this.previewFile(uiActionData);
            break;
          case 'downloadFile':
            await this.downloadFile(uiActionData);
            break;
          case 'downloadPreviewFile':
            await this.downloadPreviewFile(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", {uiActionId});
            break;
        }
      },
      async getTableData() {
        this.isTableLoading = true;
        const rows = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'studentFileManagement',
              actionId: 'selectItemList',
              actionData: {},
              where: {},
              orderBy: [{column: 'operationAt', order: 'desc'}]
            }
          }
        })).data.appData.resultData.rows

        rows.forEach(row => {
          row.operationAt = dayjs(row.operationAt).format('YYYY-MM-DD HH:mm:ss');
        })
        this.tableData = rows;
        this.isTableLoading = false;
      },
      // ---------- 新增数据 uiAction >>>>>>>>>> --------
      async prepareCreateFormData() {
        this.createItem = {};
      },

      async openCreateDrawer() {
        this.isCreateDrawerShown = true;
      },
      async prepareCreateValidate() {
        if (await this.$refs.createForm.validate()) {
          return true;
        }
        throw new Error("请完善表单信息")
      },

      async confirmCreateItemDialog() {
        if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
          throw new Error("[confirmCreateFormDialog] 否");
        }
      },

      async doUploadCreateItemFile() {
        const { file } = this.createItem;
        if (file && file.size) {
          await window.vtoast.loading("文件上传");
          const result = await window.jianghuAxios.httpUploadByStream({ file, fileDirectory: 'testFile',
            onProgress: (total, loaded) => {
              let progress = Number((loaded * 100 / total).toFixed(2))
              window.vtoast.loading(`文件上传进度${progress}%`);
              if (progress === 100) {
                window.vtoast.success('文件上传成功');
              }
            }
          });

          if (result.data.status === 'success') {
            this.uploadFileResultData = result.data.appData.resultData;
          } else {
            await window.vtoast.fail("文件上传失败");
            throw new Error("文件上传失败");
          }
        }
      },

      async prepareDoCreateItem() {
        const {id, file, ...data} = this.createItem;
        this.createActionData = { ...data, filePath: this.uploadFileResultData.downloadPath};
      },

      async doCreateItem() {
        await window.jhMask.show();
        await window.vtoast.loading("新增信息");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'studentFileManagement',
              actionId: 'insertItem',
              actionData: this.createActionData
            }
          }
        })
        await window.jhMask.hide();
        await window.vtoast.success("新增信息成功");
      },
      async closeCreateDrawer() {
        this.isCreateDrawerShown = false;
        this.createItem = {};
        this.createActionData = null;
        this.uploadFileResultData = {};
      },
      // ---------- <<<<<<<<<<< 新增数据 uiAction ---------
      // ---------- 修改数据 uiAction >>>>>>>>>>>> --------
      async prepareUpdateFormData(funObj) {
        this.updateItem = _.cloneDeep(funObj);
        this.updateItem.file = new File([new Blob()], funObj.filename);
      },

      async openUpdateDrawer() {
        this.isUpdateDrawerShown = true;
      },

      async prepareUpdateValidate() {
        if (await this.$refs.updateForm.validate()) {
          return true;
        }
        throw new Error("请完善表单信息")
      },

      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
          throw new Error("[confirmUpdateItemDialog] 否");
        }
      },

      async doUploadUpdateItemFile() {
        const { file } = this.updateItem;
        if (file && file.size) {
          await window.vtoast.loading("文件上传");
          const result = await window.jianghuAxios.httpUploadByStream({ file, fileDirectory: 'testFile',
            onProgress: (total, loaded) => {
              let progress = Number((loaded * 100 / total).toFixed(2))
              window.vtoast.loading(`文件上传进度${progress}%`);
              if (progress === 100) {
                window.vtoast.success('文件上传成功');
              }
            }
          });

          if (result.data.status === 'success') {
            this.uploadFileResultData = result.data.appData.resultData;
          } else {
            await window.vtoast.fail("文件上传失败");
            throw new Error("文件上传失败");
          }
        }
      },

      async prepareDoUpdateItem() {
        const {id, file, ...data} = this.updateItem;
        this.updateItemId = id;
        this.updateActionData = { ...data};
      },

      async doUpdateItem() {
        await window.jhMask.show();
        await window.vtoast.loading("修改信息");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'studentFileManagement',
              actionId: 'updateItem',
              actionData: this.updateActionData,
              where: {id: this.updateItemId}
            }
          }
        })

        await window.jhMask.hide();
        await window.vtoast.success("修改信息成功");
      },

      async closeUpdateDrawer() {
        this.isUpdateDrawerShown = false;
        this.updateItem = {};
        this.updateActionData = null;
        this.updateItemId = null;
        this.uploadFileResultData = {};
      },
      // ---------- <<<<<<<<<<< 修改数据 uiAction ---------
      // ---------- 删除数据 uiAction >>>>>>>>>>>> --------
      async prepareDeleteFormData(funObj) {
        this.deleteItem = _.cloneDeep(funObj);
      },
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
          throw new Error("[confirmDeleteItemDialog] 否");
        }
      },
      async prepareDoDeleteItem() {
        const {id} = this.deleteItem;
        this.deleteItemId = id;
      },
      async doDeleteItem() {
        await window.vtoast.loading("删除信息");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'studentFileManagement',
              actionId: 'deleteItem',
              actionData: {},
              where: {id: this.deleteItemId}
            }
          }
        });
        await window.vtoast.success("删除信息成功");
      },
      async clearDeleteItem() {
        this.deleteItem = {};
        this.deleteItemId = null;
      },
      // ---------- <<<<<<<<<<< 删除数据 uiAction ---------

      // ---------- 文件上传 & 下载 & 预览 uiAction >>>>>>>>>>>> --------
      async downloadFile({ item }) {
        const { filePath } = item;
        const filename = filePath.split('/').pop();
        window.vtoast.loading('文件下载进度0.00%');
        const buffer = await window.jianghuAxios.httpDownloadByStream({ downloadPath: filePath, filename,
          onProgress: (total, loaded)=> {
            const progress = Number((loaded * 100 / total).toFixed(2));
            window.vtoast.loading(`文件下载进度${progress}%`);
            if (progress === 100) {
              window.vtoast.success('文件下载成功');
            }
          }
        }).catch(err => {
          window.vtoast.fail({ message: err.errorReason });
          throw err;
        });
        window.jianghuAxios.downloadBufferToChrome({ buffer, filename });
      },
      async previewFile({ item }) {
        const { filePath } = item;
        const filename = filePath.split('/').pop();
        this.previewFileType = null;
        if (/\.(gif|jpg|jpeg|png|GIF|JPG|PNG)$/.test(filename)) {
          this.previewFileType = 'img';
          this.previewFileUrl = `/<$ ctx.app.config.appId $>/upload${filePath}`;
        }
        if (/\.(pdf|PDF)$/.test(filename)) {
          this.previewFileType = 'pdf';
          this.previewFileUrl = '/<$ ctx.app.config.appId $>/public/pdf/web/viewer.html?file=' + encodeURIComponent(`/<$ ctx.app.config.appId $>/upload${filePath}`);
        }
        this.previewFilename = filename;
        this.isPreviewOverlayShown = true;
      },
      async downloadPreviewFile() {
        const oReq = new XMLHttpRequest();
        const url = this.previewFileUrl;
        const filename = this.previewFilename;
        oReq.open("GET", url, true);
        oReq.responseType = "arraybuffer";
        oReq.onprogress = function (event) {
          if (event.lengthComputable) {
            const progress = Number((event.loaded * 100 / event.total).toFixed(2));
            window.vtoast.loading(`文件下载进度${progress}%`);
            if (progress === 100) {
              window.vtoast.success('文件下载成功');
            }
          }
        }
        oReq.onload = function (oEvent) {
          const buffer = oReq.response;
          let url = window.URL.createObjectURL(new Blob( [buffer], {type: "arraybuffer"}) )
          const link = document.createElement('a');
          link.style.display = 'none';
          link.href = url;
          link.setAttribute('download', filename);
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        };
        oReq.send(null);
      },
      // ---------- <<<<<<<<<<< 文件上传 & 下载 & 预览 uiAction ---------
    }
})
</script>


{% endblock %}
